/* Подключение шрифтов */
@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"),
    url("/fonts/Roboto/Roboto-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Bitter";
  src: local("Bitter Regular"),
    url("/fonts/Bitter/Bitter-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: local("PlayfairDisplay Regular"),
    url("/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}

/* Базовые стили */
.bodyDefaultStyle {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 28.13px;
  max-width: 1440px;
  margin: 0 auto;
}

.aBasicDecoration {
  text-decoration-line: none;
  color: black;
}

.ulBasicDecoration {
  list-style-type: none;
  margin: 0;
}

.mainMenu {
  display: flex;
  height: 135px;
  padding-left: 23px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
}

.sectionDefault {
  margin: 150px auto;
}

.uppercaseText {
  text-transform: uppercase;
}

/* heroSection */
.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 630px;
  background-color: #ddd0c8;
  background-image: url('..\\images\\insideWeather.jpg');
}

.heroSectionTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 690px;
  height: 360px;
  background-color: white;
}

/* biographySection */
.biographySection {
  display: flex;
  box-sizing: border-box;
  max-width: 80%;
}

.biographySectionImg {
  width: 49%;
  object-fit: cover;
}

.biographySectionContent {
  width: 39%;
}

.biographySectionTitle {
  flex-grow: 1;
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.biographySectionTitleText {
  transform: rotate(-180deg);
  text-align: right;
  font-size: 24px;
}

.biographySectionQuote {
  vertical-align: bottom;
  margin: 0;
}

/* testimonialsSection */
.testimonialsSection {
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  grid-gap: 20px;
}

.testimonialsSectionLeftPart {
  grid-column: 2 / span 5;
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-gap: 20px;
}

.testimonialsSectionLeftPartLinks {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 20px 0;
  align-items: flex-end;
  gap: 70px;
}

.testimonialsSectionLeftPartLink {
  flex-grow: 1;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(-180deg);
  width: 50%;
  font-size: 16px;
  line-height: 18.75px;
}

.testimonialsSectionLeftPartImg {
  grid-column: 2 / span 4;
  width: 100%;
  object-fit: cover;
}

.testimonialsSectionTitle {
  flex-grow: 1;
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.testimonialsSectionTitleText {
  margin: 0;
  transform: rotate(-180deg);
  text-align: right;
  font-size: 24px;
}

.testimonialsSectionRightPart {
  grid-column: 8 / span 4;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
  padding: 0 115px;
}

.testimonialsSectionRightPartQuote {
  vertical-align: bottom;
  margin: 0;
  font-family: "Bitter";
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: center;
}

/* designersSection */
.designersSection {
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

.designersSectionTitle {
  grid-column: 2 / span 11;
  font-size: 24px;
}

.designersSectionContent {
  grid-column: span 12;

  display: flex;
  gap: 20px;
  align-items: flex-end;
  justify-content: flex-start;
  overflow-x: scroll;
}

.designersSectionContentItem {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.designersSectionContentItemImg {
  /* width: 100%;
  object-fit: cover; */
}

.designersSectionContentItemText {
  font-size: 16px;
}

/* strongPointsSection */
.strongPointsSection {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.strongPointsSectionTitle {
  grid-column: 3 / 13;
  font-size: 24px;
  margin-left: 238px;
}

.strongPointsSectionContent {
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.strongPointsSectionContentImg {
  min-width: 335px;
  height: 555px;
  object-fit: cover;
}

.strongPointsSectionContentStrengths {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  min-width: 451px;
}

.strongPointsSectionContentStrengthsTitle {
  margin: 0 auto;
  line-height: 86px;
}

.strongPointsSectionContentStrengthsList {
  margin: 0 auto;
  font-family: "Bitter";
  font-size: 34px;
  font-weight: 400;
  line-height: 40.8px;
}

@supports (display: grid) {
  .strongPointsSection {
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }
  
  .strongPointsSectionTitle {
    grid-column: 3 / 13;
    font-size: 24px;
    margin-left: 0;
  }
  
  .strongPointsSectionContent {
    grid-column: span 12;
    display: grid;
    grid-template-columns: 335px 335px 451px 335px 335px;
    grid-auto-flow: column;
    grid-gap: 20px;
    overflow-x: auto;
  }
  
  .strongPointsSectionContentImg {
    width: 100%;
    height: 555px;
    object-fit: cover;
  }
  
  .strongPointsSectionContentStrengths {
    display: grid;
    gap: 28px;
  }
  
  .strongPointsSectionContentStrengthsTitle {
    margin: 0 auto;
    line-height: 86px;
  }
  
  .strongPointsSectionContentStrengthsList {
    margin: 0 auto;
  }
}

/* Список с пунктами главного меню */
.mainMenuList {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-left: 55px;
}

@media (max-width: 450px) {
  .mainMenuList {
    display: none;
  }
}

.mainMenuList > a {
  margin-left: 55px;
}
/* Roboto */

/* Выделяющийся заголовок в разделе */
.mainMenu a {
  font-weight: 500;
  text-align: center;
  text-decoration-style: solid;
}

/* Выделяющийся заголовок в разделе */
.mainMenu a:hover {
  text-decoration-line: underline;
}


/* Playfair Display */

/* Выделяющийся заголовок в разделе */
.bigTitle {
  font-family: "Playfair Display";
  font-size: 86px;
  font-weight: 500;
  line-height: 103.2px;
}

/* Логотип в header */
.logoInHeader {
  font-weight: 600;
}

/* Логотип-заголовок раздела */
.logoInTitle {
  text-align: center;
  margin: 0px;
}

/* Подзаголовок под логотипом-заголовком раздела */
.logoInTitleDescription {
  font-size: 20px;
  font-weight: 500;
  line-height: 23.44px;
  text-align: center;
  margin: 0px;
}

/* Заголовок секции со смещением вправо */
.sectionTitleRight {
  text-align: right;
}

/* ФИО в заголовке раздела про арт-директора */
.artDirectorTitle {
  line-height: 114.64px;
}

/* Описание в подзаголовке раздела про арт-директора */
.artDirectorSubtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
}

/* Стили для мелкого описания под карточками */
.smallDescription {
  font-size: 16px;
  line-height: 18.75px;
}

/* Контакты в футере */
.footerContacts {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

/* Лого в футере */
.footerLogo {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  text-align: center;
}

/* Pricing в футере */
.footerPricing {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: right;
}


/* Bitter */

/* Цитата */
.quote {
  font-family: "Bitter";
  font-size: 26px;
  font-weight: 400;
  line-height: 31.2px;
}