@charset "UTF-8";
/* Базовые стили */
html {
  scroll-behavior: smooth;
}

.body-default-style {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  max-width: 1440px;
  margin: 0 auto;
}

/* Подключение шрифтов */
@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), url("/fonts/Roboto/Roboto-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Bitter";
  src: local("Bitter Regular"), url("/fonts/Bitter/Bitter-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: local("PlayfairDisplay Regular"), url("/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}
.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 135px;
  padding-left: 23px;
  padding-right: 20px;
}

.main-menu__logo {
  font-family: "Playfair Display";
  font-size: 86px;
  font-weight: 600;
  line-height: 103.2px;
}

.main-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 55px;
}

.main-menu-list__item {
  text-decoration-line: none;
  color: black;
}

.main-menu-list__item:hover {
  text-decoration-line: underline;
}

@media (max-width: 950px) {
  .main-menu {
    display: none;
  }
}
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 630px;
  background-color: #ddd0c8;
  background-image: url("..\\images\\insideWeather.jpg");
}

.hero-section__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 650px;
  padding: 110px 20px;
  gap: 14px;
  background-color: white;
  text-align: center;
}

.hero-section__title {
  font-family: "Playfair Display";
  font-size: 86px;
  font-weight: 500;
  line-height: 103.2px;
  margin: 0;
}

.hero-section__description {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: 23.44px;
  margin: 0;
}

@media (max-width: 950px) {
  .hero-section {
    min-height: 764px;
    flex-direction: column;
    justify-content: flex-start;
    background-position: 0 100%;
    background-repeat: no-repeat;
  }
  .hero-section__container {
    min-width: 0px;
    min-height: 344px;
    width: 100%;
    padding: 0 18px;
    gap: 0;
  }
  .hero-section__title {
    font-size: 70px;
  }
  .hero-section__description {
    font-size: 18px;
  }
}
.biography-section {
  display: flex;
  box-sizing: border-box;
  max-width: 80%;
  margin: 150px auto;
}

.biography-section__img {
  width: 49%;
  -o-object-fit: cover;
     object-fit: cover;
}

.biography-section__title-container {
  flex-grow: 1;
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.biography-section__title-text {
  transform: rotate(-180deg);
  text-align: right;
  font-size: 24px;
}

.biography-section__content {
  width: 39%;
}

.biography-section__content-title {
  font-family: "Playfair Display";
  font-size: 86px;
  font-weight: 500;
  line-height: 114.64px;
}

.biography-section__content-title-mobile {
  display: none;
  font-family: "Playfair Display";
  font-size: 86px;
  font-weight: 500;
  line-height: 103.2px;
}

.biography-section__content-subtitle {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
}

.biography-section__content-subtitle-mobile {
  display: none;
}

.biography-section__content-quote {
  font-family: "Bitter";
  font-size: 26px;
  font-weight: 400;
  line-height: 31.2px;
  vertical-align: bottom;
  margin: 0;
}

@media (max-width: 950px) {
  .biography-section {
    flex-direction: column;
    max-width: 100%;
    margin: 80px auto;
  }
  .biography-section__img {
    width: 100%;
    height: 400px;
    order: 1;
  }
  .biography-section__title-container {
    writing-mode: unset;
    text-orientation: unset;
    position: absolute;
    right: 16px;
  }
  .biography-section__title-text {
    transform: none;
    font-size: 18px;
    margin: 0;
  }
  .biography-section__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 18px;
  }
  .biography-section__content-title {
    display: none;
  }
  .biography-section__content-title-mobile {
    display: inline;
    font-size: 64px;
    margin-top: 0;
    margin-bottom: 35px;
    order: 1;
  }
  .biography-section__content-subtitle {
    display: none;
  }
  .biography-section__content-subtitle-mobile {
    display: inline-block;
    order: -1;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  .biography-section__content-rectangle-img {
    display: none;
  }
  .biography-section__content-quote {
    margin: 57px 15px 41px 0;
    font-size: 30px;
  }
}
.designers-section {
  margin: 150px auto;
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

.designers-section__title {
  grid-column: 2/span 11;
  font-size: 24px;
}

.designers-section__cards {
  grid-column: span 12;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 20px;
  overflow-x: scroll;
}

.designers-section__cards-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.designers-section__cards-item-text {
  font-size: 16px;
}

.designers-section__cards-item-text-title {
  text-transform: uppercase;
}

@media (max-width: 950px) {
  .designers-section {
    margin: 0;
    gap: 32px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
  }
  .designers-section__title {
    margin: 0;
    font-size: 18px;
  }
  .designers-section__cards {
    gap: 16px;
  }
  .designers-section__cards-item-img {
    height: 440px;
    width: 310px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.testimonials-section {
  margin: 150px auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.testimonials-section__links-container {
  grid-column: 2/span 5;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.testimonials-section__links-container-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 70px;
  box-sizing: border-box;
  padding: 20px 0;
}

.testimonials-section__links-container-items-link-container {
  flex-grow: 1;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(-180deg);
  width: 50%;
  font-size: 16px;
  line-height: 18.75px;
}

.testimonials-section__links-container-items-link-a {
  text-decoration-line: none;
  color: black;
}

.testimonials-section__links-container-img {
  grid-column: 2/span 4;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonials-section__title-container {
  flex-grow: 1;
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.testimonials-section__title-text {
  margin: 0;
  transform: rotate(-180deg);
  text-align: right;
  font-size: 24px;
}

.testimonials-section__quote-container {
  grid-column: 8/span 4;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
  padding: 0 115px;
}

.testimonials-section__quote-container-text {
  vertical-align: bottom;
  margin: 0;
  font-family: "Bitter";
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: center;
}

@media (max-width: 950px) {
  .testimonials-section {
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 0 16px;
  }
  .testimonials-section__links-container {
    order: 1;
    grid-template-columns: 1fr;
  }
  .testimonials-section__links-container-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    -moz-column-gap: 31px;
         column-gap: 31px;
    padding: 0;
  }
  .testimonials-section__links-container-items-link-container {
    transform: unset;
    flex-grow: unset;
    writing-mode: unset;
    text-orientation: unset;
    width: unset;
  }
  .testimonials-section__links-container-img {
    display: none;
  }
  .testimonials-section__title-container {
    order: -1;
    flex-grow: unset;
    writing-mode: unset;
    text-orientation: unset;
  }
  .testimonials-section__title-text {
    transform: unset;
    font-size: 18px;
  }
  .testimonials-section__quote-container {
    gap: 24px;
    padding: 0;
  }
  .testimonials-section__quote-container-text {
    font-size: 30px;
    padding: 0 38px;
  }
  .testimonials-section__quote-container-img {
    width: 100%;
    height: 330px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.strong-points-section {
  margin: 150px auto;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.strong-points-section__title {
  grid-column: 3/13;
  font-size: 24px;
  margin-left: 238px;
}

.strong-points-section__content {
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.strong-points-section__content-img {
  min-width: 335px;
  height: 555px;
  -o-object-fit: cover;
     object-fit: cover;
}

.strong-points-section__content-strengths {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  min-width: 451px;
}

.strong-points-section__content-strengths-title {
  font-family: "Playfair Display";
  font-size: 86px;
  font-weight: 500;
  line-height: 86px;
  margin: 0 auto;
}

.strong-points-section__content-strengths-list-container {
  font-family: "Bitter";
  font-size: 34px;
  font-weight: 400;
  line-height: 40.8px;
  margin: 0 auto;
}

.strong-points-section__content-strengths-list {
  list-style-type: none;
  margin: 0;
}

@supports (display: grid) {
  .strong-points-section {
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }
  .strong-points-section__title {
    grid-column: 3/13;
    font-size: 24px;
    margin-left: 0;
  }
  .strong-points-section__content {
    grid-column: span 12;
    display: grid;
    grid-template-columns: 335px 335px 451px 335px 335px;
    grid-auto-flow: column;
    grid-gap: 20px;
    overflow-x: auto;
  }
  .strong-points-section__content-img {
    width: 100%;
    height: 555px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .strong-points-section__content-strengths {
    display: grid;
    gap: 28px;
  }
  .strong-points-section__content-strengths-title {
    margin: 0 auto;
    line-height: 86px;
  }
  .strong-points-section__content-strengths-list-container {
    margin: 0 auto;
  }
}
@media (max-width: 950px) {
  .strong-points-section {
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    gap: 30px;
  }
  .strong-points-section__title {
    margin: 0;
    font-size: 18px;
  }
  .strong-points-section__content {
    display: flex;
  }
  .strong-points-section__content-img {
    width: 310px;
    height: 450px;
  }
  .strong-points-section__content-strengths {
    order: -1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-width: unset;
    align-items: flex-start;
  }
  .strong-points-section__content-strengths-title {
    font-size: 46px;
    line-height: 46px;
  }
  .strong-points-section__content-strengths-list-container {
    margin: 0;
  }
  .strong-points-section__content-strengths-list {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    gap: 8px;
    font-size: 24px;
    line-height: 29px;
  }
}
.main-menu-mobile {
  margin: 150px auto;
  display: none;
}

.main-menu-mobile__list-item {
  text-decoration-line: none;
  color: black;
}

@media (max-width: 950px) {
  .main-menu-mobile {
    margin: 80px auto;
    display: block;
    border: 2px solid black;
    border-left: 0;
    border-right: 0;
  }
  .main-menu-mobile__list {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-evenly;
    padding: 0 16px;
  }
  .main-menu-mobile__list-item {
    display: inline-block;
    width: 92px;
    height: 82px;
    text-align: center;
    align-content: center;
    font-family: "Bitter";
    font-size: 40px;
  }
  .main-menu-mobile__list-item:hover {
    text-decoration: underline;
    font-weight: bold;
  }
}
.footer-section {
  background-color: #0D0D0D;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 70px 20px;
}

.footer-section__contacts {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

.footer-section__logo {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  text-align: center;
}

.footer-section__pricing {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: right;
}

@media (max-width: 950px) {
  .footer-section {
    flex-direction: column;
    gap: 8px;
    padding: 30px 16px;
    align-items: flex-start;
  }
  .footer-section__contacts {
    margin: 0;
  }
  .footer-section__logo {
    order: -1;
    align-self: end;
    margin: 0;
  }
  .footer-section__pricing {
    margin: 0;
  }
}
.body--scroll-locked {
  overflow: hidden;
}

.main-menu__modal-btn {
  background-color: #313131;
  color: white;
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  transition: transform 300ms, background-color 300ms;
}
.main-menu__modal-btn:hover {
  background-color: #585757;
  transform: scale(1.06);
}

.main-menu__modal-btn::before {
  content: "\f4ad";
  font-family: "FontAwesome";
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(69, 90, 100, 0.5882352941);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.modal--closed {
  display: none;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.modal__container {
  background-color: #fff;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
  position: relative;
}
.modal__container:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  position: absolute;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  transform: rotate(2deg);
  z-index: -1;
}

.modal__title {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.modal__description {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.input-fld {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.input-fld__label {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}

.input-fld__input {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  box-sizing: border-box;
  padding: 6px 10px;
  padding-right: 70px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  height: 50px;
  min-height: 42px;
  transition: transform 300ms, background-color 300ms, border-color 300ms;
}
.input-fld__input:invalid {
  border-color: red;
}
.input-fld__input:valid {
  border-color: green;
}
.input-fld__input:hover {
  border-color: black;
  background-color: rgb(255, 251, 246);
  transform: scale(1.05);
}
.input-fld__input:focus-visible {
  background-color: rgb(255, 251, 246);
}

.input-fld__textarea {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  box-sizing: border-box;
  padding: 6px 10px;
  padding-right: 70px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  height: 50px;
  min-height: 135px;
  resize: none;
  transition: transform 300ms, background-color 300ms, border-color 300ms;
}
.input-fld__textarea:invalid {
  border-color: red;
}
.input-fld__textarea:valid {
  border-color: green;
}
.input-fld__textarea:hover {
  border-color: black;
  background-color: rgb(255, 251, 246);
  transform: scale(1.05);
}
.input-fld__textarea:focus-visible {
  background-color: rgb(255, 251, 246);
}

.modal__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal__close-btn {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  min-width: 179.54px;
  min-height: 55.45px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: transform 300ms, background-color 300ms;
}
.modal__close-btn:hover {
  background-color: rgb(240, 240, 240);
  transform: scale(1.06);
}

.modal__submit-btn {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  min-width: 179.54px;
  min-height: 55.45px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: transform 300ms, background-color 300ms;
}
.modal__submit-btn:hover {
  background-color: rgb(58, 58, 58);
  transform: scale(1.06);
}
.modal__submit-btn::before {
  content: "+";
  font-family: "FontAwesome";
  margin-right: 10px;
}

#inputName {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="square" stroke-linejoin="round" stroke-width="2" d="M7 19H5a1 1 0 0 1-1-1v-1a3 3 0 0 1 3-3h1m4-6a3 3 0 1 1-6 0a3 3 0 0 1 6 0Zm7.441 1.559a1.907 1.907 0 0 1 0 2.698l-6.069 6.069L10 19l.674-3.372l6.07-6.07a1.907 1.907 0 0 1 2.697 0Z"/></svg>');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
}

#inputEmail {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16v-5.5A3.5 3.5 0 0 0 7.5 7m3.5 9H4v-5.5A3.5 3.5 0 0 1 7.5 7m3.5 9v4M7.5 7H14m0 0V4h2.5M14 7v3m-3.5 6H20v-6a3 3 0 0 0-3-3m-2 9v4m-8-6.5h1"/></svg>');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
}

#inputComment {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17h6l3 3v-3h2V9h-2M4 4h11v8H9l-3 3v-3H4z"/></svg>');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
}/*# sourceMappingURL=styles.css.map */