@mixin txt($ff, $fs, $fw, $lh) {
    font-family: $ff;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}

@mixin inputFieldStyles {
    @include txt("Roboto", 16px, 400, 19px);
    box-sizing: border-box;
    padding: 6px 10px;
    padding-right: calc($inputFieldIconHeight + $inputFieldIconPaddingRight * 2);
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    height: $inputFieldIconHeight;
}

@mixin defaultButtonStyles {
    @include txt("Roboto", 18px, 500, 32px);
    min-width: 179.54px;
    min-height: 55.45px;
    border: 2px solid black;
    border-radius: 8px;
}

@mixin defaultFieldIcon($url) {
    background-image: $url;
    background-size: $inputFieldIconHeight;
    background-repeat: no-repeat;
    background-position-x: calc(100% - $inputFieldIconPaddingRight);
}