.strong-points-section {
    margin: $section-margin;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.strong-points-section__title {
    grid-column: 3 / 13;
    font-size: 24px;
    margin-left: 238px;
}

.strong-points-section__content {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.strong-points-section__content-img {
    min-width: 335px;
    height: 555px;
    object-fit: cover;
}

.strong-points-section__content-strengths {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    min-width: 451px;
}

.strong-points-section__content-strengths-title {
    @include txt("Playfair Display", 86px, 500, 86px);
    margin: 0 auto;
}

.strong-points-section__content-strengths-list-container {
    @include txt("Bitter", 34px, 400, 40.8px);
    margin: 0 auto;
}

.strong-points-section__content-strengths-list {
    list-style-type: none;
    margin: 0;
}

@supports (display: grid) {
    .strong-points-section {
        margin-left: 20px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 30px;
    }

    .strong-points-section__title {
        grid-column: 3 / 13;
        font-size: 24px;
        margin-left: 0;
    }

    .strong-points-section__content {
        grid-column: span 12;
        display: grid;
        grid-template-columns: 335px 335px 451px 335px 335px;
        grid-auto-flow: column;
        grid-gap: 20px;
        overflow-x: auto;
    }

    .strong-points-section__content-img {
        width: 100%;
        height: 555px;
        object-fit: cover;
    }

    .strong-points-section__content-strengths {
        display: grid;
        gap: 28px;
    }

    .strong-points-section__content-strengths-title {
        margin: 0 auto;
        line-height: 86px;
    }

    .strong-points-section__content-strengths-list-container {
        margin: 0 auto;
    }
}

@media (max-width: $max-width-mobile) {
    .strong-points-section {
        margin: $section-margin-mobile;
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        gap: 30px;
    }

    .strong-points-section__title {
        margin: 0;
        font-size: 18px;
    }

    .strong-points-section__content {
        display: flex;
    }

    .strong-points-section__content-img {
        width: 310px;
        height: 450px;
    }

    .strong-points-section__content-strengths {
        order: -1;
        display: flex;
        flex-direction: column;
        gap: 24px;
        min-width: unset;
        align-items: flex-start;
    }

    .strong-points-section__content-strengths-title {
        font-size: 46px;
        line-height: 46px;
    }

    .strong-points-section__content-strengths-list-container {
        margin: 0;
    }

    .strong-points-section__content-strengths-list {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        gap: 8px;
        font-size: 24px;
        line-height: 29px;
    }
}